---
MESSAGE: Hello
YEAR: "2018"

BACKLOG_SPACE: YOUR_DOMAIN.backlog.com
BACKLOG_API_KEY: YOUR_API_KEY
BACKLOG_PROJECT_ID: "YOUR_PROJECT_ID"
BACKLOG_ISSUE_TYPE_ID: "YOUR_ISSUE_TYPE_ID"
KINTONE_DOMAIN: YOUR_DOMAIN
KINTONE_APP_ID: "YOUR_APP_ID"
KINTONE_API_TOKEN: YOUR_API_TOKEN
BACKLOG_CFID_CREATED_BY: "YOUR_CUSTOM_FIELD_ID_1"
BACKLOG_CFID_KINTONE_RECORD_URL: "YOUR_CUSTOM_FIELD_ID_2"
